# Python Task: Income Tax Calculator (Old vs New Regime with Deductions)
Objective
 Build a Python program that calculates tax liability for both Old and New tax regimes based on the user's annual income. The Old Regime should allow deductions, while the New Regime should not. Finally, display which regime is more beneficial.

# Tax Rules
Old Regime Slabs
- 0 – 2,50,000 → 0%


- 2,50,001 – 5,00,000 → 5%


- 5,00,001 – 10,00,000 → 20%


- Above 10,00,000 → 30%
 (Deductions allowed, for example 80C, 80D, Standard Deduction)


New Regime Slabs
- 0 – 2,50,000 → 0%


- 2,50,001 – 5,00,000 → 5%


- 5,00,001 – 7,50,000 → 10%


- 7,50,001 – 10,00,000 → 15%


- 10,00,001 – 12,50,000 → 20%


- 12,50,001 – 15,00,000 → 25%


- Above 15,00,000 → 30%
 (No deductions allowed)



# Requirements
Inputs:


- Annual Salary


- Total deductions (HRA, PF, 80C, etc.) applicable only for Old Regime


Process:


- Calculate taxable income under Old Regime = Salary – Deductions


- Apply slabs progressively for both regimes


- Add 4% cess to total tax


Outputs:


- Old Regime Tax, Taxable Income, and Take-home salary


- New Regime Tax and Take-home salary


- Which regime is better with savings amount


Bonus Features:


- Show detailed slab-wise breakdown for both regimes


- Validate inputs (negative values not allowed)


-
Allow multiple calculations in one run



Example Run
 Enter your Annual Salary: 1200000
 Enter total deductions (Old Regime): 150000
Old Regime:
 Taxable Income = 1050000
 Tax:
 0-2.5L @ 0% = 0
 2.5L-5L @ 5% = 12500
 5L-10L @ 20% = 100000
 10L-10.5L @ 30% = 15000
 Base Tax = 127500
 Cess (4%) = 5100
 Total Tax = 132600
 Take-home Salary = 1067400
New Regime:
 Taxable Income = 1200000 (No deductions)
 Base Tax = 150000
 Cess (4%) = 6000
 Total Tax = 156000
 Take-home Salary = 1044000
Better Option: Old Regime (Save 23400)

## Author- Sampada Kasture

In [166]:
while True:
    try:
        annual_salary = int(input("Enter annual salary: "))
        if annual_salary >= 0:
            break
        else:
            print("Annual salary cannot be negative. Please enter a positive value.")
    except ValueError:
        print("Invalid input. Please enter an integer.")

while True:
    try:
        deductions = int(input("Enter deductions: "))
        if deductions >= 0:
            break
        else:
            print("Deductions cannot be negative. Please enter a positive value.")
    except ValueError:
        print("Invalid input. Please enter an integer.")

taxable_income = annual_salary - deductions
print("taxable income", taxable_income)

Enter annual salary: 1000
Enter deductions: 90
taxable income 910

In [167]:
if taxable_income <= 250000:
  tax_amount = taxable_income * 0
  print("tax amount", tax_amount)
elif taxable_income <= 500000 and taxable_income > 250000:
  tax_amount = taxable_income * 0.05
  print("tax amount", tax_amount)
elif taxable_income <= 1000000 and taxable_income > 500000:
  tax_amount = taxable_income * 0.20
  print("tax amount", tax_amount)
else :
  tax_amount = taxable_income * 0.30
  print("tax amount", tax_amount)

tax amount 0

In [168]:
cess = tax_amount * 0.04
total_tax_amount = tax_amount + cess
print("total tax amount: ", total_tax_amount)

total tax amount:  0.0

In [169]:
take_home_salary = annual_salary - total_tax_amount
print("Take home salary: ", take_home_salary)

Take home salary:  1000.0

New Regime

In [170]:
if annual_salary <= 250000:
  tax_amount = annual_salary * 0
  print("tax amount", tax_amount)
elif annual_salary <= 500000 and annual_salary > 250000:
  tax_amount = annual_salary * 0.05
  print("tax amount", tax_amount)
elif annual_salary <= 750000 and annual_salary > 500000:
  tax_amount = annual_salary * 0.10
  print("tax amount", tax_amount)
elif annual_salary <= 1000000 and annual_salary > 750000:
  tax_amount = annual_salary * 0.15
  print("tax amount", tax_amount)
elif annual_salary <=1250000 and annual_salary > 1000000:
  tax_amount = annual_salary * 0.20
  print("tax amount", tax_amount)
else :
  tax_amount = annual_salary * 0.30
  print("tax amount", tax_amount)

tax amount 0

In [171]:
cess = tax_amount * 0.04
total_tax_amount = tax_amount + cess
print("total tax amount: ", total_tax_amount)

total tax amount:  0.0

In [172]:
new_take_home_salary = annual_salary - total_tax_amount
print("New Take home salary: ", new_take_home_salary)

New Take home salary:  1000.0

In [173]:
if new_take_home_salary > take_home_salary:
 print("New Regime is better. Save(",new_take_home_salary - take_home_salary,")")
elif new_take_home_salary == take_home_salary:
  print("Both are same")
else:
  print("Old Regime is better. Save(",take_home_salary - new_take_home_salary,")")

Both are same